@{
    Layout="Shared/_Layout.cshtml";
}

<h3>@Model["recipe"].GetName()</h3>
<div class="recipe-holder">
  <h5>Current rating: @Model["recipe"].GetRating()</h5>
  <div class="add-recipe-categories">
    <form class="" action="/recipes/@Model["recipe"].GetId()/add-category" method="post">
        @if (@Model["categories"].Count == 0)
        {
          <select name="new-category">
            <option value="0" disabled selected>There are no categories listed</option>
          </select>
        }
        else
        {
          <select name="new-category">
          <option value="0" disabled selected></option>
          @foreach(var category in @Model["categories"])
          {
            <option value="@category.GetId()">@category.GetName()</option>
          }
        </select>
        }
      <button type="submit" class="waves-effect waves-light btn-large">Add Category</button>
    </form>
  </div>
  <div class="recipe-categories">
    <p>
      @foreach(var category in @Model["recipe"].GetCategory())
      {
        @category.GetName()
      }
    </p>
  </div>
  <ul>
    @foreach(var ingredient in @Model["recipe"].GetIngredient())
    {
      <li>@ingredient.GetAmount()  @ingredient.GetName() </li>
    }
  </ul>
  <p>
    @Model["recipe"].GetInstruction()
  </p>
</div>
<div class="recipe-update">
  <div class="panel panel-success">
    <div class="panel-heading">Update @Model["recipe"].GetName()</div>
    <div class="panel-body">
      <div class="row">
        <form action="/recipes/@Model["recipe"].GetId()" method="post" id="recipe-update" class="entry">
          <input type="hidden" name="_method" value="PATCH">
          <label for="recipe-name">Recipe Name:</label>
          <input type="text" name="update-recipe-name" id="recipe-name" value="@Model["recipe"].GetName()">
          <div id="ingredients-div">
            @for(int index = 1; index <= @Model["recipe"].GetIngredient().Count; index++)
            {
              <div id="ingredient-@index">
                <label class="ingredient-name-label" for="ingredient-@index">New Ingredient</label>
                <input class="ingredient-name" type="text" name="ingredient-@index" value="@Model["recipe"].GetIngredient()[index-1].GetName()">
                <label class="ingredient-amount-label" for="ingredient-amount-@index">Ingredient Amount:</label>
                <input class="ingredient-amount" type="text" name="ingredient-amount-@index" value="@Model["recipe"].GetIngredient()[index-1].GetAmount()">
              </div>
            }
          </div>
          <button type="button" id="new-ingredient-btn" class="btn">Additional Ingredient</button>
          <input id="ingredient-counter" type="hidden" name="ingredient-counter" value="@Model["recipe"].GetIngredient().Count"><br>
          <label for="rating">Rating:</label><br>
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          </fieldset>
          <input type="hidden" name="old-rating" id="old-rating" value="@Model["recipe"].GetRating()">
            <br><br><label for="instruction">Instructions:</label>
            <input type="text" name="instruction" id="instruction" value="@Model["recipe"].GetInstruction()">
            <button type="submit" class="btn btn-lg btn-info">Update Recipe</button>
        </form>
      <hr />
      <form class="delete-button" action="/recipes/@Model["recipe"].GetId()" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-lg btn-primary">Delete this recipe</button>
      </form>
        <hr />
        <form action="/recipes" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" name="button" class="btn btn-mgd btn-block btn-danger">Delete All Recipes</button>
        </form>
      </div>
    </div>
  </div>
</div>
